{
   "@type": "MessageCard",
   "@context": "http://schema.org/extensions",
   "summary": "{{ TRIGGER_STATUS }}:{{ HOST_NAME }}:{{ TRIGGER_NAME }}",
   "title": "{{ HOST_NAME }}",
   "sections": [
      {
         "activityTitle": "{{ TRIGGER_NAME }}",
         "activitySubtitle": "{{ TRIGGER_STATUS }}",
         "activityText": "{{ TRIGGER_SEVERITY }}",
         "facts": [
            { "name": "Time", "value": "{{ EVENT_DATE }} {{ EVENT_TIME }}" },
            { "name": "Event", "value": "{{ EVENT_ID }}" }
         ]
      }
   ],
   "potentialAction": [
      {
         "@context": "http://schema.org",
         "name": "Open",
         "@type": "ViewAction",
         "target": [ 
            "{{ ZABBIX_URL }}/tr_events.php?triggerid={{ TRIGGER_ID }}&eventid={{ EVENT_ID }}"
         ]
      }
   ]
}
